* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #89abe3ff;
}
h1 {
  margin-top: 50px;
  margin-bottom: 25px;
}
h2 {
  margin-top: 15px;
}
p {
  margin-bottom: 10px;
  font-weight: lighter;
}

.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally in the container */
  justify-content: space-around; /* Distribute space around items */
  height: 400px;
  width: 300px;
  margin: 20px;
  background-color: #fcf6f5ff;
  border-radius: 10px;
  text-align: center;
}

button {
  height: 30px; /* Explicitly setting the height */
  width: 100px; /* Explicitly setting the width */
}

.img {
  height: 300px; /* Adjust height as needed */
  width: 250px; /* Adjust width as needed */
  display: block; /* Ensures the image does not inline with text */
  border-radius: 25px;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.search-box {
  position: relative;
  width: 100%;
  max-width: 300px; /* Set a max-width for the search box */
}

input[type="text"] {
  width: 300px;
  height: 40px;
  padding: 0 10px 0 40px; /* Adjust left padding to make space for the icon */
  margin: 8px 0;
  box-sizing: border-box;

  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:hover {
  border-color: #bbb;
}

input[type="text"]:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ccc;
  pointer-events: none; /* Makes the icon non-interactive */
}
.input-button {
  display: flex;
}

.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 70px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 8px;
  border-radius: 5px;
  margin-left: 7px;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 95px;
  }
}
